html {font-family: Helvetica;text-align: center;
   background-color: black;
   color:seashell;
   font-size: 22px;
   opacity: 0.9;
}



.heading1 { display: flex;
  flex-grow: 1;
align-items: center;
font-weight: bold;
height: 69px;
margin: 10px;
border-bottom: 1px solid seashell;
}

.navigation { display:flex;
flex-grow: 8;
justify-content: flex-end;
align-items: center;
align-content: space-between;
color: white;
}
a {color: white
padding: 10px;
margin:10px;
}

.maincolumn {
  display:flex;
  flex-direction: column;
  align-items: center;
}

.main {
  display: flex;
  height: 700px;
  width: 1200px;
  justify-content: center;
  align-items: center;
  align-content: center;
  background-image: url("../images/img-mission-background.jpg");
  flex-direction: column;
}
.our-mission{
  background-color: black;
  width:1200px;
  color:seashell;
}
.tea-of-month{
  display: flex;
flex-direction:column;
align-items: center;
color: seashell;
}

.tea-row1 {
display:flex;
justify-content: space-around;
height: 200px;
width: 1000px;
}

.fall-berry {
  display: flex;
  background-image: url("../images/img-berryblitz.jpg");
  width: 300px;
  background-size: contain;
  }
.spiced-rum {
  display: flex;
  background-image: url("../images/img-spiced-rum.jpg");
  width: 300px;
  background-size: contain;
}
.seasonal-donuts {
  display: flex;
  background-image: url("../images/img-donut.jpg");
  width: 300px;
  background-size: contain;
    }
  .tea-row1-text {
  display:flex;
  flex-direction: row;
  background-color: black;
  justify-content: space-around;
  width: 1000px;
  color: seashell;
  }
  .tea-row2 {
  display:flex;
  flex-direction: row;
  justify-content: space-around;
  height: 200px;
  width: 1000px;
  }
.myrtle-ave {
  display: flex;
  background-image: url("../images/img-myrtle-ave.jpg");
  width: 300px;
  background-size: contain;
}
.bedford-bizzare {
  display: flex;
  background-image: url("../images/img-bedford-bizarre.jpg");
  width: 300px;
  background-size: contain;
}

.tea-row2-text {
display:flex;
flex-direction: row;
background-color: black;
justify-content: space-around;
width: 1000px;
color: seashell;
}

.locations {
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 500px;
  width:1200px;
  background-image: url("../images/img-locations-background.jpg");
  }
  .locationsoffices {
    display: flex;
    justify-content: space-around;
    width: 1200px;
    flex-direction: row;
      }

.downtown {
  display: flex;
  flex-direction: column;
  background-color: black;
  width: 300px;
  align-content:center;
  }

.east-bayside {
  display: flex;
  flex-direction: column;
  background-color: black;
  width: 300px;
  align-content:center;
  }
  .oakdale {
    display: flex;
    flex-direction: column;
    background-color: black;
    width: 300px;
    align-content:center;
      }

}

.footer { display: flex;
  flex-direction: column;
  flex-grow: 1;
  align-items: center;
  font-weight: bold;
  margin: auto;
  height: 200px;
  color: seashell;
}

.copyright {
  display:flex;
  justify-content: flex-start;
  margin:20px;
  text-align: left;
  color: seashell;
}

.footerheading {
  display:flex;
   font-family: Georgia;
  font-size: 16px;
  font-weight: bold;
  color: white;
}

.navigationfooter { display:flex;
justify-content: center;;
align-items: center;
align-content: space-between;
}






}
